/* MAIN */
*{
  margin: 0;
  padding: 0;
}
body{
  font-family: 'Open Sans', sans-serif;
  text-align: center;
}
/* NAV */
nav ul {
  width: 100%;
  position:fixed;
  top:0;
  z-index: 99;
  background-color: #2B2B2B;
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
}
nav ul li {
  margin: 55px;
  margin-bottom: 15px;
  margin-top: 25px;
}
nav ul li a {
  color: #36FFE9;
  text-decoration: none;
}
nav ul li a:hover {
  color: #e5e5e5;
}

/*SECTIONS*/
.section{
  height: 100vh;
}

/* WELCOME SECTION */
.welcome{
  background: #2B2B2B;
  text-align: center;
}
#welcome-section h1{
  padding-top: 40vh;
}
.section h1{
  color: #666;
  font-size: 3em;
  font-weight: 400;
  margin-bottom: 30px;
  padding-top: 50px;
}
p{
  color: #e5e5e5;
}

/* WORK SECTION */
.work{
  background-color: #e5e5e5;
}
.projectList{
  display: flex;
  flex-direction: row;
  justify-content: center;
}
.projectList a{
  width: 20%;
}
.projectCard{
  width: 20%;
  margin: 0 4%;
  background: #36FFE9;
  box-shadow: 1px 1px 10px black;
}
.projectCard:hover{
  box-shadow: 2px 2px 20px black;
}
.projectCard p{
  padding-top: 20px;
  color: #666;
  font-weight: 600;
  font-size: 1.3em;
}

/* CONTACT SECTION */
.contact{
  margin-top: -40px;
  background: #2B2B2B;
}
#contact{
  height: 25vh;
}



@media only screen and (max-width: 367px){
  .project-tile{
    margin: 0 1%;
  }
}