/* MAIN */
*{
  margin: 0;
  padding: 0;
}
body{
  font-family: 'Open Sans', sans-serif;
  text-align: center;
}
/* NAV */
nav ul {
  width: 100%;
  position:fixed;
  top:0;
  z-index: 99;
  background-color: #2B2B2B;
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
}
nav ul li {
  margin: 45px;
  margin-bottom: 15px;
  margin-top: 25px;
}
nav ul li a {
  color: #36FFE9;
  text-decoration: none;
}
nav ul li a:hover {
  color: #e5e5e5;
}
#title{
  float:left;
}

/*SECTIONS*/
.section{
  min-height: 100vh;
}

/* WELCOME SECTION */
.welcome{
  background: #2B2B2B;
  text-align: center;
}
#welcome-section h1{
  padding-top: 40vh;
}
.section h1{
  color: #666;
  font-size: 3em;
  font-weight: 400;
  margin-bottom: 30px;
  padding-top: 50px;
}
p{
  color: #e5e5e5;
}

/* WORK SECTION */
.work{
  background-color: #e5e5e5;
  padding-bottom: 80px;
}
.projectList{
  display: flex;
  flex-direction: row;
  justify-content: center;
  flex-wrap: wrap;
}
.projectList a{
  text-decoration: none;
}
/*.cardLink{
  display:block;
  width: 25%;
  margin: 30px 2%;
  height:100%;
}*/
.projectCard{
  width: 25%;
  margin: 30px 2%;
  background: #36FFE9;
  box-shadow: 1px 1px 10px black;
  transition: transform 1s;
  transform-style: preserve-3d;
  height: 100%;
}
.projectCard:hover{
  box-shadow: 2px 2px 20px black;
}
.projectCard h1{
  padding-top: 10px;
  color: #333;
  font-weight: 600;
  font-size: 1.3em;
  margin-bottom: 0;
}
.projectCard h2{
  color: #333;
  text-align: center;
  margin-left: 10px;
}
.projectCard p{
  color: #333;
  padding: 5px;
  text-align: left;
  font-size: .8em;
}
.projectCard > *{
  pointer-events: none;
}
.imgContainer{
/*  width: 96%;
  height: 400px;*/
  padding: 10px 2%;
}
.imgContainer img{
  width: 100%;
  height: 400px;
  object-fit: cover;
  object-position: 50% 0;
}
.cardFace{
  width: 100%;
  height: 100%;
  backface-visibility: hidden;
}
.cardBack{
  /*background-color: blue;*/
  position: absolute;
  margin-top: -450px;
  transform:rotateY(180deg);
}
.flip{
  transform: rotateY(180deg);
}
.skillsContainer{
  text-align: left;
  color: #333;
  font-size: .8em; 
  margin-left: 15px;
}


/* CONTACT SECTION */
.contact{
  margin-top: -40px;
  background: #2B2B2B;
}
#contact{
  height: 25vh;
}



@media only screen and (max-width: 367px){
  .project-tile{
    margin: 0 1%;
  }
}